<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>GeoSynta</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        #map { height: 100vh; }
    </style>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Site Logo" id="siteLogo">
    </header>
    
    <form id="dataForm" action="/predict" method="post">
        <label for="location">Enter Location:</label>
        <input type="text" id="location" name="location" required>
        
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date" required>
        
        <input type="submit" value="Predict">
    </form>
    
    <div id="map"></div>
    <div id="resultMessage"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>
